PORT=8787
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
# FCM_PROJECT_ID=
# GOOGLE_APPLICATION_CREDENTIALS=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# COUPANG_ACCESS_KEY=
# COUPANG_SECRET_KEY=
# COUPANG_PARTNER_ID=